# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pkl
*.log
*.vscode
*.csv
*.pytest_cache

# distribution files
build/
dist/
*.egg-info/
*.egg
eggs/
.eggs/
pythontabcmd2/__pycache__/
var/
wheels/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

.DS_Store

# sensitive file
credentials.py
